*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* Style thr header*/
.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav{
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a{
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}
/* Create threeequal columns that floats next to each other */
.column {
    float:left;
    width:33.33%;
    padding:15px;
}

.column.side{
    width: 25%;
}

.paragraf-float{
clear: both;
}

#paragraf-2_image{
float: right;
width: 400px;
height: 250px;
border: 20px;
padding: 15px;
margin:20px;

}

.column.middle{
    width: 50%;
}

#paragrafo-nascosto{
    display: none;
}

/* Cleare floats after the colums */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other insted of next to each other */
@media screen and { max-width: 600px;
    .column.side, .column.middle {width: 100%;}
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}